n8n/get-exposed-actions.json
{
  "name": "getActionsList",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-exposed-actions",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger-id",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        250
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8000/api/actions"
      },
      "id": "get-actions-id",
      "name": "GET Actions from PapyConnect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        350,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst colors = {\n  netflix: '#E50914',\n  spotify: '#1DB954',\n  youtube: '#FF0000'\n};\n\nconst formatted = items.map(item => {\n  return {\n    Id: item.json.id,\n    Name: item.json.title,\n    Url: `http://gronas:5678/webhook/papyconnect-action?id=${item.json.id}`,\n    Color: colors[item.json.icon] || '#8200FF'\n  };\n});\n\nreturn formatted.map(item => ({ json: item }));"
      },
      "id": "format-actions-id",
      "name": "Format Actions for Console",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        250
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "GET Actions from PapyConnect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Actions from PapyConnect": {
      "main": [
        [
          {
            "node": "Format Actions for Console",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
