n8n/jobby-pdf-static.json
{
  "updatedAt": "2026-06-05T11:22:57.205Z",
  "createdAt": "2026-05-25T16:32:59.047Z",
  "id": "K2acY4kGijPJGop0",
  "name": "Jobby - PDF - static",
  "description": "retrieves a MD file and returns a printed version in PDF",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jobby-pdf",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        -80
      ],
      "id": "aee20b02-ae57-411f-8c3b-b1d33ac21d83",
      "name": "Webhook",
      "webhookId": "18b49df3-fa89-4200-aad8-d17edfa81e8d"
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupération du CV et des deux nouvelles propriétés Notion\nconst properties = $('Webhook').item.json.body?.data?.properties || {};\nconst richTextArray = properties.CV?.rich_text || [];\n\n// Extraction propre (sans double ?. )\nconst company = properties.Company?.rich_text?.[0]?.plain_text || 'company';\nconst jobTitle = properties.Job_Title?.rich_text?.[0]?.plain_text || 'job';\n\nlet mdText = richTextArray.map(block => block.plain_text || '').join('');\n\n// 2. Parser Markdown avec nettoyage du \"plain text\" parasite\nfunction robustMarkdownToHtml(md) {\n  // Suppression des mentions \"plain text\" ou \"plain_text\" textuelles injectées par l'agent\n  let cleanedMd = md.replace(/plain[\\s_]text/gi, '');\n\n  const lines = cleanedMd.split('\\n');\n  let htmlOutput = [];\n  let inList = false;\n\n  for (let line of lines) {\n    let trimmed = line.trim();\n    if (!trimmed.startsWith('-') && !trimmed.startsWith('*') && inList) {\n      htmlOutput.push('</ul>');\n      inList = false;\n    }\n    if (trimmed === '---' || trimmed === '***') {\n      htmlOutput.push('<hr />');\n      continue;\n    }\n    if (trimmed.startsWith('>')) {\n      let content = line.replace(/^>\\s*/, '').trim().replace(/^\"(.*)\"$/, '$1');\n      htmlOutput.push(`<div class=\"summary-box\">${content}</div>`);\n      continue;\n    }\n    if (trimmed.startsWith('# ')) { htmlOutput.push(`<h1>${trimmed.substring(2)}</h1>`); continue; }\n    if (trimmed.startsWith('## ')) { htmlOutput.push(`<h2>${trimmed.substring(3)}</h2>`); continue; }\n    if (trimmed.startsWith('### ')) { htmlOutput.push(`<h3>${trimmed.substring(4)}</h3>`); continue; }\n\n    if (trimmed.startsWith('-') || trimmed.startsWith('*')) {\n      if (!inList) { htmlOutput.push('<ul>'); inList = true; }\n      htmlOutput.push(`<li>${trimmed.replace(/^[\\-\\*]\\s*/, '')}</li>`);\n      continue;\n    }\n    if (trimmed !== '') htmlOutput.push(`<p>${line}</p>`);\n  }\n  if (inList) htmlOutput.push('</ul>');\n\n  let finalBody = htmlOutput.join('\\n');\n  return finalBody.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n}\n\n// Fonction utilitaire pour nettoyer les caractères spéciaux du futur nom de fichier\nfunction slugify(text) {\n  return text\n    .toString()\n    .toLowerCase()\n    .normalize('NFD') // Supprime les accents\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .trim()\n    .replace(/\\s+/g, '-') // Remplace les espaces par des tirets\n    .replace(/[^a-z0-9\\-]/g, ''); // Supprime le reste\n}\n\nconst finalFileName = `javarre-${slugify(company)}-${slugify(jobTitle)}`;\n\nreturn [\n  {\n    json: {\n      compiledBody: robustMarkdownToHtml(mdText),\n      pdfFileName: finalFileName\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -80
      ],
      "id": "e79006b9-898c-4505-8606-9ca159c25273",
      "name": "Génération du HTML & Style CSS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Notion : Initialiser l'upload\"].json.upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": []
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ $node[\"(Gotemberg) PDF\"].binary.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -80
      ],
      "id": "5b17e223-3c0a-43cb-89ce-40e7986236ac",
      "name": "Notion : Envoyer le binaire",
      "credentials": {
        "notionApi": {
          "id": "KYrsxF0plfLkPpqW",
          "name": "Notion LinkedIn Auto"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/file_uploads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": []
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": " 2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mode\": \"single_part\",\n  \"filename\": \"{{ $('Get PageID').item.json.outputPdf }}\",\n  \"content_type\": \"application/pdf\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -80
      ],
      "id": "ea9008a2-e5f9-44d0-ba00-032edd9088d0",
      "name": "Notion : Initialiser l'upload",
      "credentials": {
        "notionApi": {
          "id": "KYrsxF0plfLkPpqW",
          "name": "Notion LinkedIn Auto"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupération des données brutes du Webhook\nconst body = $('Webhook').item.json.body?.data || {};\nconst properties = body.properties || {};\n\nconst pageId = body.id;\n\n// 2. Extraction de Company (Type: select)\nlet company = 'company';\nif (properties.Company && properties.Company.select) {\n  company = properties.Company.select.name || 'company';\n}\n\n// 3. Extraction de Job Title / Title (Type: title) - Tolère l'ancien et le nouveau nom\nlet jobTitle = 'job';\nconst targetProperty = properties.Title || properties[\"Job Title\"];\n\nif (targetProperty && targetProperty.title && targetProperty.title.length > 0) {\n  jobTitle = targetProperty.title.plain_text || $input.first().json.body.data.properties[\"Job Title\"].title[0].plain_text  || 'job';\n}\n\n// 4. Fonction locale slugify pour nettoyer les chaînes\nfunction slugify(text) {\n  return text\n    .toString()\n    .toLowerCase()\n    .normalize('NFD') // Supprime les accents\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .trim()\n    .replace(/\\s+/g, '-') // Remplace les espaces par des tirets\n    .replace(/[^a-z0-9\\-]/g, ''); // Élimine le reste\n}\n\n// 5. Forge du nom de fichier final personnalisé\nconst outputPdf = `javarre-${slugify(company)}_${slugify(jobTitle)}.pdf`;\n\n// 6. Retour des variables propres\nreturn [{ \n  json: { \n    pageId: pageId,\n    company: company,\n    jobTitle: jobTitle,\n    outputPdf: outputPdf\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -80
      ],
      "id": "50e1809c-41d6-4d09-a38b-fa08be19185a",
      "name": "Get PageID"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $node[\"Get PageID\"].json.pageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2026-03-11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"PDF\": {\n      \"type\": \"files\",\n      \"files\": [\n        {\n          \"type\": \"file_upload\",\n          \"file_upload\": { \n            \"id\": \"{{ $('Notion : Initialiser l\\'upload').item.json.id }}\" \n          },\n          \"name\": \"{{ $json.filename }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -80
      ],
      "id": "1e94c1a3-320d-47ab-88f8-167563781146",
      "name": "Attach Bin to page",
      "credentials": {
        "notionApi": {
          "id": "KYrsxF0plfLkPpqW",
          "name": "Notion LinkedIn Auto"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "indexHtml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        -80
      ],
      "id": "b3921630-4876-4e63-bf65-6dd8ba2a2033",
      "name": "(Gotemberg) PDF"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "myRawContent",
        "binaryPropertyName": "indexHtml",
        "options": {
          "addBOM": false,
          "encoding": "utf8",
          "fileName": "=index.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        208,
        -80
      ],
      "id": "d0978c75-1b40-4761-bf50-766eb4d0d0ff",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fb1391e-c916-48ff-ae50-b4da474a5ea1",
              "name": "myRawContent",
              "value": "=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>CV Julien Avarre</title>\n  <style>\n    @page { \n      size: A4; \n      /* \"To wide\" corrigé : On augmente drastiquement les marges latérales (35mm) pour resserrer le texte au centre comme sur le modèle */\n      margin: 25mm 35mm 25mm 35mm; \n    }\n    \n /* Custom Config Variables */\n:root {\n    --resume-font-family: 'Inter', sans-serif;\n    --resume-font-size: 12.5px;\n    --resume-line-height: 1.2;\n    --resume-heading-scale: 1.6;\n    --resume-margin-x: 48px;\n    --resume-margin-y: 20px;\n    --resume-section-spacing: 12px;\n    --resume-color-bg: #ffffff;\n    --resume-color-headings: #0f172a;\n    --resume-color-body: #334155;\n    --resume-color-links: #2563eb;\n    --resume-color-accent: #0ea5e9;\n    --resume-sidebar-bg: #2d3748;\n    --resume-sidebar-text: #ffffff;\n}\n\n/* ==========================================\n   ATS RESUME RENDERING AND PRINT TEMPLATES\n   ========================================== */\n\n/* The A4 Canvas Sheet Simulator (Screen-only) */\n.a4-sheet {\n    background-color: var(--resume-color-bg, #ffffff);\n    color: var(--resume-color-body, #334155);\n    font-family: var(--resume-font-family, 'Raleway', sans-serif);\n    font-size: var(--resume-font-size, 14px);\n    line-height: var(--resume-line-height, 1.45);\n    \n    padding: var(--resume-margin-y, 25px) var(--resume-margin-x, 30px);\n    \n    width: 210mm;\n    min-height: 297mm;\n    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);\n    border-radius: 4px;\n    box-sizing: border-box;\n    text-align: left;\n    \n    /* Smooth transitions for slider adjustments */\n    transition: padding 0.15s ease-out;\n}\n\n/* 2-Column Layout CSS Rules */\n.resume-columns {\n    display: grid;\n    grid-template-columns: 1.7fr 1.3fr;\n    gap: 20px;\n    align-items: stretch;\n    margin-top: 16px;\n}\n\n.resume-columns.sidebar-left {\n    grid-template-columns: 1.3fr 1.7fr;\n}\n\n.resume-main-col {\n    display: flex;\n    flex-direction: column;\n    gap: var(--resume-section-spacing, 12px);\n}\n\n.resume-sidebar-col {\n    display: flex;\n    flex-direction: column;\n    gap: var(--resume-section-spacing, 12px);\n    background-color: var(--resume-sidebar-bg, #2d3748);\n    color: var(--resume-sidebar-text, #ffffff);\n    padding: 18px;\n    border-radius: 6px;\n    box-sizing: border-box;\n}\n\n/* Sidebar Specific Content Overrides */\n#resume-output .resume-sidebar-col h3 {\n    color: var(--resume-sidebar-headings, var(--resume-sidebar-text, #ffffff));\n    border-bottom: 1.5px solid var(--resume-color-accent, #0d9488);\n    margin-top: calc(var(--resume-section-spacing, 12px) * 0.5);\n    padding-bottom: 4px;\n}\n\n#resume-output .resume-sidebar-col p {\n    color: var(--resume-sidebar-text, #ffffff);\n}\n\n#resume-output .resume-sidebar-col p strong {\n    color: var(--resume-sidebar-headings, var(--resume-sidebar-text, #ffffff));\n}\n\n#resume-output .resume-sidebar-col li {\n    color: var(--resume-sidebar-text, #ffffff);\n}\n\n#resume-output .resume-sidebar-col li::marker {\n    color: var(--resume-color-accent, #0d9488);\n}\n\n#resume-output .resume-sidebar-col a {\n    color: var(--resume-sidebar-text, #ffffff);\n    text-decoration: underline;\n}\n\n/* Resume Markdown HTML Output Elements Styling */\n\n#resume-output h1 {\n    font-family: var(--resume-font-family, 'Raleway', sans-serif);\n    font-size: calc(var(--resume-font-size, 14px) * var(--resume-heading-scale, 1.6) * 1.5);\n    color: var(--resume-color-headings, #1e293b);\n    font-weight: 800;\n    line-height: 1.15;\n    margin-bottom: 6px;\n    letter-spacing: -0.02em;\n}\n\n#resume-output p {\n    margin-bottom: 8px;\n    font-size: var(--resume-font-size, 14px);\n    color: var(--resume-color-body, #334155);\n}\n\n/* Subtitles or roles (typically bold text right after h1) */\n#resume-output h1 + p strong,\n#resume-output h1 + p {\n    font-size: calc(var(--resume-font-size, 14px) * 1.05);\n    color: var(--resume-color-accent, #0d9488);\n    font-weight: 600;\n}\n\n/* Contact Details Paragraph (e.g. [CONTACT : ...]) */\n#resume-output p:nth-of-type(2) {\n    font-size: calc(var(--resume-font-size, 14px) * 0.85);\n    color: var(--resume-color-links, #7c3aed);\n    background-color: rgba(0, 0, 0, 0.02);\n    border: 1px solid rgba(0, 0, 0, 0.04);\n    padding: 6px 12px;\n    border-radius: 4px;\n    margin-top: 8px;\n    margin-bottom: 16px;\n    display: block;\n    word-break: break-all;\n}\n\n/* Links inside the document */\n#resume-output a {\n    color: var(--resume-color-links, #7c3aed);\n    text-decoration: none;\n    font-weight: 500;\n    transition: opacity 0.15s ease;\n}\n\n#resume-output a:hover {\n    text-decoration: underline;\n    opacity: 0.95;\n}\n\n/* Horizontal separators */\n#resume-output hr {\n    border: 0;\n    border-top: 1px solid rgba(0, 0, 0, 0.08);\n    margin: 16px 0;\n}\n\n/* Blockquotes (used for Summary Quotes) */\n#resume-output blockquote {\n    border-left: 3px solid var(--resume-color-accent, #0d9488);\n    padding-left: 14px;\n    margin: 16px 0;\n    font-style: italic;\n    color: var(--resume-color-body, #475569);\n    font-size: calc(var(--resume-font-size, 14px) * 1.02);\n    line-height: 1.5;\n}\n\n/* Section Headings (e.g., ### EXPÉRIENCES CLÉS) */\n#resume-output h3 {\n    font-family: var(--resume-font-family, 'Raleway', sans-serif);\n    font-size: calc(var(--resume-font-size, 14px) * var(--resume-heading-scale, 1.6));\n    color: var(--resume-color-headings, #1e293b);\n    font-weight: 700;\n    text-transform: uppercase;\n    letter-spacing: 0.04em;\n    margin-top: calc(var(--resume-section-spacing, 12px) * 1.8);\n    margin-bottom: calc(var(--resume-section-spacing, 12px) * 0.8);\n    border-bottom: 1.5px solid var(--resume-color-accent, #0d9488);\n    padding-bottom: 4px;\n    display: block;\n}\n\n/* Sub-headings / job blocks (typically bold text for titles) */\n#resume-output p strong {\n    font-weight: 600;\n    color: var(--resume-color-headings, #1e293b);\n}\n\n/* Lists and Bullet Points - critical for ATS readability */\n#resume-output ul {\n    margin-left: 18px;\n    margin-bottom: 12px;\n    padding-left: 0;\n}\n\n#resume-output li {\n    font-size: calc(var(--resume-font-size, 14px) * 0.96);\n    margin-bottom: 4px;\n    line-height: 1.45;\n    color: var(--resume-color-body, #334155);\n    /* Standard bullets only, no graphics */\n    list-style-type: disc;\n}\n\n#resume-output li::marker {\n    color: var(--resume-color-accent, #0d9488);\n}\n\n/* Ensure no page breaks inside job details or blocks in print */\n#resume-output p, \n#resume-output ul, \n#resume-output h3 {\n    page-break-inside: avoid;\n    break-inside: avoid;\n}\n\n/* Custom directives styling matching markdownresume.app guide */\n.resume-accent {\n    color: var(--resume-color-accent, #0d9488);\n    font-weight: 600;\n}\n\n.resume-muted {\n    color: #64748b;\n    font-size: 0.95em;\n    opacity: 0.85;\n}\n\n/* ==========================================\n   STRICT PRINT-TO-PDF STYLING OVERRIDES\n   ========================================== */\n@media print {\n    * {\n        -webkit-print-color-adjust: exact !important;\n        print-color-adjust: exact !important;\n    }\n    \n    /* Set page margins in printer settings dynamically */\n    @page {\n        size: A4 portrait;\n        margin: 15mm; /* Balanced printing margins */\n    }\n\n    /* Hide entire builder UI */\n    body {\n        background: #ffffff !important;\n        color: #000000 !important;\n        font-size: var(--resume-font-size, 12px) !important;\n        height: auto !important;\n        width: auto !important;\n        overflow: visible !important;\n    }\n\n    .app-header, \n    .panel:not(.preview-panel),\n    .panel-header,\n    .preview-controls,\n    .toast {\n        display: none !important;\n    }\n\n    .app-container {\n        display: block !important;\n        height: auto !important;\n        width: 100% !important;\n        background: none !important;\n    }\n\n    .app-main {\n        display: block !important;\n        height: auto !important;\n        overflow: visible !important;\n        background: none !important;\n    }\n\n    .preview-panel {\n        display: block !important;\n        width: 100% !important;\n        height: auto !important;\n        border: none !important;\n        background: none !important;\n        overflow: visible !important;\n    }\n\n    .preview-canvas-wrapper {\n        padding: 0 !important;\n        overflow: visible !important;\n        display: block !important;\n        background: none !important;\n    }\n\n    .preview-canvas {\n        transform: none !important;\n        width: 100% !important;\n        height: auto !important;\n        display: block !important;\n    }\n\n    .a4-sheet {\n        box-shadow: none !important;\n        border-radius: 0 !important;\n        padding: 0 !important; /* Managed by @page margin */\n        width: 100% !important;\n        min-height: 0 !important;\n        background: var(--resume-color-bg, #ffffff) !important;\n        color: var(--resume-color-body, #334155) !important;\n    }\n}\n\n  </style>\n</head>\n<body>\n\n  {{ $json.compiledBody }}\n\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -80
      ],
      "id": "c536ea5f-8e34-4a92-8d0b-e9cca421b474",
      "name": "Template Design CV"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get PageID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Génération du HTML & Style CSS": {
      "main": [
        [
          {
            "node": "Template Design CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion : Envoyer le binaire": {
      "main": [
        [
          {
            "node": "Attach Bin to page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion : Initialiser l'upload": {
      "main": [
        [
          {
            "node": "Notion : Envoyer le binaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PageID": {
      "main": [
        [
          {
            "node": "Génération du HTML & Style CSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Gotemberg) PDF": {
      "main": [
        [
          {
            "node": "Notion : Initialiser l'upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "(Gotemberg) PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Design CV": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.eole.me",
            "user-agent": "NotionAutomation",
            "content-length": "8602",
            "baggage": "sentry-environment=production,sentry-release=20260528.1330-2ac36ef,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=9e790060b8cf4560a12ff5af0ad8c858",
            "content-type": "application/json",
            "sentry-trace": "9e790060b8cf4560a12ff5af0ad8c858-8bfbef1741930829",
            "traceparent": "00-356d8b5cb4777e6091115c204358eecc-71f9e57ee53ffbca-00",
            "x-forwarded-for": "131.149.232.218",
            "x-forwarded-host": "n8n.eole.me",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "050a05252a50",
            "x-real-ip": "131.149.232.218",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "36eee932-db12-80fd-b5f3-004ddf3a8c34",
              "action_id": "36eee932-db12-800e-a018-005adf48136c",
              "event_id": "c19964dd-164c-4681-82c3-a3224115f960",
              "user_id": "f41a3f3c-4423-4fe9-8bd5-4aa4c762f4b4",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "36bee932-db12-813b-afc6-dfbbb7cbf118",
              "created_time": "2026-05-25T15:42:00.000Z",
              "last_edited_time": "2026-05-28T17:07:00.000Z",
              "created_by": {
                "object": "user",
                "id": "35cee932-db12-8156-8429-0027172fc7d0"
              },
              "last_edited_by": {
                "object": "user",
                "id": "f41a3f3c-4423-4fe9-8bd5-4aa4c762f4b4"
              },
              "cover": null,
              "icon": {
                "type": "emoji",
                "emoji": "🆕"
              },
              "parent": {
                "type": "data_source_id",
                "data_source_id": "bd9677f6-7f24-44d3-8a67-b00fc871426e",
                "database_id": "127bad1f-b25a-4b6b-8eec-7b342e3aa504"
              },
              "in_trash": false,
              "is_archived": false,
              "is_locked": false,
              "properties": {
                "CV": {
                  "id": "%5B%3C%7C~",
                  "type": "rich_text",
                  "rich_text": [
                    {
                      "type": "text",
                      "text": {
                        "content": "# JULIEN AVARRE\n",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "# JULIEN AVARRE\n",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": "POST-SALES SOLUTIONS ENGINEER (AI OPERATING SYSTEM) | SOLUTIONS ENGINEERING | PROMPT ENGINEERING",
                        "link": null
                      },
                      "annotations": {
                        "bold": true,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "POST-SALES SOLUTIONS ENGINEER (AI OPERATING SYSTEM) | SOLUTIONS ENGINEERING | PROMPT ENGINEERING",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": "\n[CONTACT : ",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "\n[CONTACT : ",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": "julien@avarre.com",
                        "link": {
                          "url": "mailto:julien@avarre.com"
                        }
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "julien@avarre.com",
                      "href": "mailto:julien@avarre.com"
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": " | +33 6 50 83 69 09| ",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": " | +33 6 50 83 69 09| ",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": "https://www.linkedin.com/in/javarre",
                        "link": {
                          "url": "https://www.linkedin.com/in/javarre"
                        }
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "https://www.linkedin.com/in/javarre",
                      "href": "https://www.linkedin.com/in/javarre"
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": "]\n\n---\n\n> \"J’aide les équipes à déployer des automatisations et des agents IA qui deviennent indispensables : cas d’usage à forte valeur, adoption terrain, et industrialisation (docs, API, workflows) pour transformer l’essai sur le long terme.\"\n\n---\n\n### EXPÉRIENCES CLÉS\n\n",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "]\n\n---\n\n> \"J’aide les équipes à déployer des automatisations et des agents IA qui deviennent indispensables : cas d’usage à forte valeur, adoption terrain, et industrialisation (docs, API, workflows) pour transformer l’essai sur le long terme.\"\n\n---\n\n### EXPÉRIENCES CLÉS\n\n",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": "Solutions Engineer (Expertise Tooling & RFPs)",
                        "link": null
                      },
                      "annotations": {
                        "bold": true,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Solutions Engineer (Expertise Tooling & RFPs)",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": " | Diabolocom | 2025 - Aujourd’hui\n- Déploiement et adoption de solutions chez des clients Enterprise : cadrage des besoins, design de workflows et accompagnement jusqu’à la valeur mesurable.\n- Industrialisation du delivery (process, documentation, knowledge base) pour accélérer l’implémentation, réduire les frictions et sécuriser l’usage dans la durée.\n\n",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": " | Diabolocom | 2025 - Aujourd’hui\n- Déploiement et adoption de solutions chez des clients Enterprise : cadrage des besoins, design de workflows et accompagnement jusqu’à la valeur mesurable.\n- Industrialisation du delivery (process, documentation, knowledge base) pour accélérer l’implémentation, réduire les frictions et sécuriser l’usage dans la durée.\n\n",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": "Presales Engineer",
                        "link": null
                      },
                      "annotations": {
                        "bold": true,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Presales Engineer",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": " | Valiantys | 2023 - Aujourd’hui\n- Construction de démonstrations et de PoC orientés “use cases” (automatisation, intégrations, API) pour prouver rapidement la valeur et accélérer la décision.\n- Traduction des besoins métier en architectures de solution, avec une forte attention à l’adoption utilisateur, à la qualité des prompts/inputs et à la robustesse des workflows.\n\n",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": " | Valiantys | 2023 - Aujourd’hui\n- Construction de démonstrations et de PoC orientés “use cases” (automatisation, intégrations, API) pour prouver rapidement la valeur et accélérer la décision.\n- Traduction des besoins métier en architectures de solution, avec une forte attention à l’adoption utilisateur, à la qualité des prompts/inputs et à la robustesse des workflows.\n\n",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": "Presales Engineer",
                        "link": null
                      },
                      "annotations": {
                        "bold": true,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Presales Engineer",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": " | Claranet | 2019 - 2022\n- Conception d’architectures Cloud (AWS) et de trajectoires de migration, en intégrant contraintes sécurité/ops, et en sécurisant la mise en production.\n- Automatisation et scripting (Bash/Python) pour fiabiliser les opérations et améliorer la répétabilité (runbooks, standards, bonnes pratiques).\n\n",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": " | Claranet | 2019 - 2022\n- Conception d’architectures Cloud (AWS) et de trajectoires de migration, en intégrant contraintes sécurité/ops, et en sécurisant la mise en production.\n- Automatisation et scripting (Bash/Python) pour fiabiliser les opérations et améliorer la répétabilité (runbooks, standards, bonnes pratiques).\n\n",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": "Technical Project Manager",
                        "link": null
                      },
                      "annotations": {
                        "bold": true,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Technical Project Manager",
                      "href": null
                    },
                    {
                      "type": "text",
                      "text": {
                        "content": " | Actility | 2015 - 2019\n- Pilotage de projets techniques multi-parties prenantes : cadrage, coordination, planification, gestion des risques et delivery.\n- Mise en place de processus de qualité (incident/change management, amélioration continue) pour fiabiliser les déploiements et l’exploitation.\n\n---\n\n### EXPERTISE TECHNIQUE\nAI Agents, Prompt Engineering, Agentic AI Workflows, Workflow Automation, n8n, Zapier, Make, REST APIs, Solution Engineering, Customer Success\n\n---\n\n### ÉDUCATION\nEPITECH – European Institute of Technologies",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": " | Actility | 2015 - 2019\n- Pilotage de projets techniques multi-parties prenantes : cadrage, coordination, planification, gestion des risques et delivery.\n- Mise en place de processus de qualité (incident/change management, amélioration continue) pour fiabiliser les déploiements et l’exploitation.\n\n---\n\n### EXPERTISE TECHNIQUE\nAI Agents, Prompt Engineering, Agentic AI Workflows, Workflow Automation, n8n, Zapier, Make, REST APIs, Solution Engineering, Customer Success\n\n---\n\n### ÉDUCATION\nEPITECH – European Institute of Technologies",
                      "href": null
                    }
                  ]
                }
              },
              "url": "https://www.notion.so/Solutions-Sales-Engineer-36bee932db12813bafc6dfbbb7cbf118",
              "public_url": null,
              "request_id": "40ee7dc8-66ff-47e0-8127-8e2b0e56d877"
            }
          },
          "webhookUrl": "https://n8n.eole.me/webhook/md2pdf",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "66c2ab48-3155-43cb-a8dd-6869d5974fb1",
  "activeVersionId": null,
  "versionCounter": 616,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-05-25T16:32:59.050Z",
      "createdAt": "2026-05-25T16:32:59.050Z",
      "role": "workflow:owner",
      "workflowId": "K2acY4kGijPJGop0",
      "projectId": "GfFdmZTqGEJQkrXG",
      "project": {
        "updatedAt": "2026-05-11T09:44:44.757Z",
        "createdAt": "2026-05-11T09:34:45.695Z",
        "id": "GfFdmZTqGEJQkrXG",
        "name": "Éole Wind <megazef@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2792484d-cba3-4156-adba-fbc49134eb55"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-29T11:31:39.972Z",
      "createdAt": "2026-05-29T11:31:39.972Z",
      "id": "5zynHpPHQi9PRMyD",
      "name": "jobby"
    },
    {
      "updatedAt": "2026-05-28T12:28:46.096Z",
      "createdAt": "2026-05-28T12:28:46.096Z",
      "id": "Ft2TXB4BVRBQRwkV",
      "name": "PDF"
    },
    {
      "updatedAt": "2026-05-28T12:28:49.321Z",
      "createdAt": "2026-05-28T12:28:49.321Z",
      "id": "XmFLRaZ2ZU05mmMo",
      "name": "Gotemberg"
    }
  ],
  "activeVersion": null
}